Brotli
certifi
charset-normalizer
click
colorama
dash
dash-bootstrap-components
dash-core-components
dash-daq
dash-html-components
dash-table
Flask
Flask-Compress
flask-login
gunicorn
idna
itsdangerous==2.0.1
Jinja2
MarkupSafe
numpy
pandas
plotly
python-dateutil
pytz
requests
six
tenacity
urllib3
Werkzeug
xlrd
psycopg2-binary
Flask-SQLAlchemy
Flask-Migrate
Flask-Script
ruamel.yaml