body {
    background-color: #303030;
    color: #EEE;
}
table#summary{
    table-layout: fixed;
    width: 100%;
    text-align: center;
}
th {
    background-color: #212121 !important;
    text-align: center;
    /*width: 100px;*/
}
/*
test {
    text-align: center;
}
*/
td {
    background-color: #424242 !important;
    text-align: center;
    /*width: 100px;*/
}

#upload-data {
    width: 100%;
    height: 60px;
    line-height: 60px;
    border-width: 1px;
    border-style: dashed;
    border-radius: 5px;
    text-align: center;
    margin: 10px;
}

#header{
    display: flex;
}

#container{
    max-width: 100%;
}

#title{
    text-align: center;
    margin-top: revert;
}

#logo{
    display: block;
    width: auto;
    height: auto;
}

#user-status-div{
    float: right;
    padding: 10px;
    text-align: center;
}

#login-div{
    text-align: center;
}